.app {    
    &__wrapper {
        display: grid;
        grid-template-columns: auto 250px minmax(320px, 600px) auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        ". header header ."
        ". list content .";
    }    
    &__header {
        grid-area: header;
    }
    &__company-list {
        grid-area: list;
    }
    &__page {
        grid-area: content;
    }
}